html{
    font-size: 100%;
}

body{
    background-color: black;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

.divI{
    width: 80%;
    margin: 50px auto 0px auto;
    text-align:center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.divIi{
    display: grid;
    align-items: center;
    justify-content: right;
}
.divIiI{
    padding-right: 20px;
}

.srujan{
    font-family: 'Moon Dance', cursive;
    font-size: 100px;
}

.vinland{
    font-size: 1.75em;
}

.stimag{
    height: auto;
    width: 100%
}
.bu{
    text-decoration: underline #14FFEC 5px;
}