:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	--background-color: #121212;
	--color: snow;
	--fill: #fff;
	--no-fill: transparent;
	color: var(--color);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	animation: fas 1s;
}



body{
	margin: 0;
	&::-webkit-scrollbar{
		display: none;
	}
	header{
		background-color: var(--background-color);
		position:fixed;
		box-sizing: border-box;
		width: 100vw;
		height: 10vh;
		top: 0;
		display: flex;
		padding-inline: 2.5rem;
		flex-direction: row-reverse;
		justify-content: space-between;
		transition: translateY 1s ease-in-out;
		--grd-mouse: 50%;
		--grd-mid: var(--grd-mouse);
		--grd-start: 50%;
		--grd-end: 50%;
		--grd-color: var(--color);

		#h-line-cont{
			position:absolute;
			display: flex;
			width: 100%;
			bottom: 0px;
			height: 1px;
			left: 0px;
			#h-line-wrapper{
				width: 100vw;
				position: relative;
				// transition: all var(--h-line-time-x);
				&::after{
					content: "";
					height: var(--grd-start);
					width: var(--grd-end);
				}
				#h-line{
					position: absolute;
					z-index: 99;
					bottom: var(--h-line-pos-y);
					left: 0;
					height: 1px;
					width: 100%;
					background-image: linear-gradient(90deg, #121212 var(--grd-start), var(--grd-color) var(--grd-mid), #121212 var(--grd-end));
				}
			}
		}
		
		nav{
			display: flex;
			align-items: center;
			font-weight: 600;
			gap: 4rem;
			a{	
				height: 80%;
				display: flex;
				align-items: center;
				text-decoration: none;
				color: var(--color);
				font-size:x-large;
				transition: transform 500ms;
				padding-inline: 1rem;
				&:hover{
					transform: translateY(-5%);
				}
			}
			
		}
	}
	section{
		height: 100vh;
		background-color: #121212;
	}
	#sec-1{
		box-sizing: border-box;
		padding-block-start: 10vh;
		display: flex;


	}
	section:nth-of-type(2n){
		background-color: snow;
	}

}


#logo-cont{
	height: 100%;
	display: flex;
	align-items: center;
	a{	
		height: 80%;
		display: grid;
		grid-template-columns: repeat(5, 1.5rem) 0.5rem;
		align-items: center;
		padding-inline: 1rem;
		.m-cont{
			pointer-events: none;
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			.circ{
				width: 0.5rem;
				aspect-ratio: 1 / 1;
				border-radius: 50vw;
				border: 1px solid snow;
				box-sizing: border-box;
				background-color: var(--no-fill);
				transition: 500ms all;
			}
			.rect{
				box-sizing: border-box	;
				width: 0.5rem;
				aspect-ratio: 1 / 1.5;
				border-radius: 2px;
				border: 1px solid snow;
				background-color: var(--fill);
				transition: 500ms all;
			}
		}

		&:hover{
			--fill: transparent;
			--no-fill: #fff;
		}

	}
}

