html{
    font-size: 100%;
}

body{
    background-color: black;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

.divI{
    width: 80%;
    margin: 140px auto 0px 0px;
    text-align:center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-right: solid;
    border-bottom: double;
    border-color: #14FFEC; 
    border-width: 10px;
    padding-right: 20px;
}
.divIi{
    display: grid;
    align-items: center;
    justify-content: right;
}
.divIiI{
    padding-right: 20px;
}

.srujan{
    font-family: 'Moon Dance', cursive;
    font-size: 100px;
}

.vinland{
    font-size: 1.75em;
}

.stimag{
    height: auto;
    width: 100%
}
.bu{
    text-decoration: underline #14FFEC 5px;
}

.divII{
    width: 80%;
    margin: 200px 0px 0px auto;
    border-bottom: double;
    border-left: solid;
    border-color: #14FFEC;
    border-width: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


.gridIII{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 15px;
    gap: 15px   ;
}

.divIIi{
    position: relative;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    text-align: center;
    border-radius: 10px;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
}
